<div class="p-4">
    @if( accountsServices.accountsQuery.isPending() ) {
        <div role="status" class="space-y-8 animate-pulse md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
            <div class="w-full flex flex-col gap-y-2 mb-12">
                <div class="h-3.5 bg-neutral-quaternary rounded-full w-48 mb-4"></div>
                <div class="h-3.5 bg-neutral-quaternary rounded-full w-40 mb-4"></div>
                <div class="h-100 bg-neutral-quaternary rounded-xl w-full mb-4"></div>
            </div>
        </div>
    } @else {

        <div class="flex flex-col gap-y-2 mb-12 fade-in-element">
            <h2 class="text-3xl text-gray-500"> Balance total </h2>
            <p class="text-2xl text-[#3B69FF] font-bold"> $ {{ totalBalance() | number }} </p>
        </div>

        <div class="w-full bg-neutral-primary-soft border border-default rounded-base shadow-xs p-4 md:p-6 fade-in-element">
            <div id="bar-chart"></div>
        </div>
    }

</div>