<section class="bg-gray-100 z-30 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a class="flex items-center mb-6 text-4xl font-semibold text-gray-900 dark:text-white"> Control Gastos App </a>
        <div class="w-full bg-white rounded-md shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Ingresa tus credenciales
                </h1>

                <form class="space-y-4 md:space-y-6" [formRoot]="signInService.signInForm">
                    <!-- Input email -->
                    <div>
                        <app-common-input 
                            [id]="'email'"
                            [type]="'text'"
                            [label]="'Tu correo'" 
                            [formField]="signInService.signInForm.email" 
                            [placeholder]="'name@company.com'"/>

                        @if ( signInService.signInForm.email().touched() && signInService.signInForm.email().invalid() ) {
                            <ul class="error-list">
                                @for (error of signInService.signInForm.email().errors(); track error) {
                                    <p class="mt-2.5 text-sm text-fg-danger-strong"> {{ error.message }} </p>
                                }
                            </ul>
                        }
                    </div>

                    <!-- Input password -->
                    <div>
                        <app-common-input
                            [id]="'password'"
                            [type]="'password'"
                            [label]="'Contraseña'"
                            [formField]="signInService.signInForm.password" 
                            [placeholder]="'••••••••'"/>

                        @if ( signInService.signInForm.password().touched() && signInService.signInForm.password().invalid() ) {
                                <ul class="error-list">
                                    @for (error of signInService.signInForm.password().errors(); track error) {
                                        <p class="mt-2.5 text-sm text-fg-danger-strong"> {{ error.message }} </p>
                                    }
                                </ul>
                            }
                    </div>
                    <div class="flex items-center justify-between">
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer">
                            <div class="relative w-9 h-5 bg-neutral-quaternary peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-brand-soft dark:peer-focus:ring-brand-soft rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-0.5 after:inset-s-0.5 after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-brand"></div>
                            <span class="select-none ms-3 text-sm font-medium text-heading"> Recuerdame </span>
                        </label>
                        <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Olvidaste tu contraseña?</a>
                    </div>

                    <app-common-button 
                        type="submit"
                        text="Iniciar sesión"
                        loadingText="Cargando..."
                        [loading]="signInService.signInMutation.isPending()"
                        [disabled]="!signInService.signInForm().valid()"/>

                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Aun no tienes cuenta? <a [routerLink]="['/auth/sign-up']" class="font-medium text-primary-600 text-blue-500 hover:underline dark:text-primary-500"> Registrate </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>