<div class="relative overflow-x-auto mx-auto grid max-w-8xl border-2 border-white bg-gray-100 shadow-md rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Gasto
                </th>
                <th scope="col" class="px-6 py-3">
                    Categoria
                </th>
                <th scope="col" class="px-6 py-3">
                    Tarjeta/Contado
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    Monto
                </th>
                <th scope="col" class="px-6 py-3">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
        @for ( item of recetnTrasacntionFilterServices.recentTransactionFilterQuery.data()?.items ; track $index) {
        <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
            <th scope="row" class="w-1/5 px-6 py-4 font-medium text-heading whitespace-nowrap">
                <h3 class="text-lg font-bold">{{ item.title }}</h3>
                <p class="font-light">{{ item.description }}</p>
            </th>
            <td class="px-6 py-4">
                <p class="bg-blue-50 text-blue-700 p-2 rounded-md w-2/3 flex items-center justify-center text-base">
                    {{ item.category }}
                </p>
            </td>
            <td class="px-6 py-4">
                @if ( item.creditCard === null ) {
                    <h3 class="text-lg font-bold">
                        Contado
                    </h3>    
                } @else {
                    <h3 class="text-lg font-bold">
                        {{ item.creditCard?.alias }}
                    </h3>
                    <p class="font-light bg-gray-100 p2 max-w-12 items-center justify-center flex rounded-md">
                        {{ item.creditCard?.last4 }}
                    </p>
                }
            </td>
            <td class="px-6 py-4">
                <p class="text-lg"> 
                {{ item.incurredAt | date:'longDate' }}
                </p>
            </td>
            <td class="px-6 py-4">
                <p class="text-lg font-bold"> 
                    ${{ item.amount | number:'1.2-2' }}
                </p>
            </td>
            <td class="px-6 py-4 flex gap-x-6 w-28">
                <button (click)="onEditExpense(item)" type="button" class="text-white bg-linear-to-r from-green-400 via-green-500 to-green-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                    </svg>
                </button>
                <button type="button" class="text-white bg-linear-to-r from-red-400 via-red-500 to-red-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>
                </button>
            </td>
        </tr>
        }
        </tbody>
    </table>

    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between p-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-body mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing <span class="font-semibold text-heading">1-10</span> of <span class="font-semibold text-heading">
                {{ recetnTrasacntionFilterServices.recentTransactionFilterQuery.data()?.total }}
            </span>
        </span>
        <ul class="flex -space-x-px text-sm">
            <li>
                <a class="flex items-center cursor-pointer justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-s-base text-sm px-3 h-9 focus:outline-none">Previous</a>
            </li>
            <li>
                <a class="flex items-center cursor-pointer justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none">1</a>
            </li>
            <li>
                <a class="flex items-center cursor-pointer justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none">2</a>
            </li>
            <li>
                <a aria-current="page" class="flex items-center cursor-pointer justify-center text-fg-brand bg-brand-softer box-border border border-default-medium hover:bg-brand-soft hover:text-fg-brand font-medium text-sm w-9 h-9 focus:outline-none">3</a>
            </li>
            <li>
                <a class="flex items-center cursor-pointer justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none">...</a>
            </li>
            <li>
                <a class="flex items-center cursor-pointer justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none">5</a>
            </li>
            <li>
                <a class="flex items-center cursor-pointer justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-e-base text-sm px-3 h-9 focus:outline-none">Next</a>
            </li>
        </ul>
    </nav>
</div>
