<div class="relative mx-auto grid max-w-8xl overflow-hidden md:overflow-x-auto md:rounded-lg md:border-2 md:border-white md:bg-gray-100 md:shadow-md">
    <div class="grid gap-3 md:hidden">
        @for ( item of recetnTrasacntionFilterServices.currentItems() ; track item.id) {
        <article class="grid gap-4 rounded-lg border border-default bg-neutral-primary-soft p-4">
            <div class="flex items-start justify-between gap-3">
                <div class="min-w-0">
                    <h3 class="truncate text-lg font-bold text-heading">{{ item.title }}</h3>
                    <p class="text-sm font-light text-body">{{ item.description }}</p>
                </div>
                <p class="shrink-0 text-lg font-bold text-heading">${{ item.amount | number:'1.2-2' }}</p>
            </div>

            <div class="grid grid-cols-2 gap-3 text-sm">
                <div>
                    <p class="text-body">Categoría</p>
                    <p class="mt-1 inline-flex rounded-md bg-blue-50 px-2 py-1 font-medium text-blue-700">{{ item.category }}</p>
                </div>
                <div>
                    <p class="text-body">Pago</p>
                    @if ( item.creditCard === null ) {
                        <p class="mt-1 font-bold text-heading">Contado</p>
                    } @else {
                        <p class="mt-1 font-bold text-heading">{{ item.creditCard?.alias }}</p>
                        <p class="font-light text-body">{{ item.creditCard?.last4 }}</p>
                    }
                </div>
                <div class="col-span-2">
                    <p class="text-body">Fecha</p>
                    <p class="mt-1 font-medium text-heading">{{ item.incurredAt | date:'longDate' }}</p>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-3">
                <button (click)="onEditExpense(item)" type="button" class="h-11 text-white bg-linear-to-r from-green-400 via-green-500 to-green-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-base text-sm px-4 text-center leading-5">
                    Editar
                </button>
                <button (click)="onDeleteExpense(item)" type="button" class="h-11 text-white bg-linear-to-r from-red-400 via-red-500 to-red-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-base text-sm px-4 text-center leading-5">
                    Eliminar
                </button>
            </div>
        </article>
        } @empty {
        <div class="rounded-lg border border-default bg-neutral-primary-soft px-6 py-8 text-center text-body">
            @if (recetnTrasacntionFilterServices.recentTransactionFilterQuery.isLoading()) {
                Cargando gastos...
            } @else {
                No hay gastos para mostrar
            }
        </div>
        }
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-body max-[767px]:hidden">
        <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Gasto
                </th>
                <th scope="col" class="px-6 py-3">
                    Categoria
                </th>
                <th scope="col" class="px-6 py-3">
                    Tarjeta/Contado
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    Monto
                </th>
                <th scope="col" class="px-6 py-3">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
        @for ( item of recetnTrasacntionFilterServices.currentItems() ; track item.id) {
        <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
            <th scope="row" class="w-1/5 px-6 py-4 font-medium text-heading whitespace-nowrap">
                <h3 class="text-lg font-bold">{{ item.title }}</h3>
                <p class="font-light">{{ item.description }}</p>
            </th>
            <td class="px-6 py-4">
                <p class="bg-blue-50 text-blue-700 p-2 rounded-md w-2/3 flex items-center justify-center text-base">
                    {{ item.category }}
                </p>
            </td>
            <td class="px-6 py-4">
                @if ( item.creditCard === null ) {
                    <h3 class="text-lg font-bold">
                        Contado
                    </h3>    
                } @else {
                    <h3 class="text-lg font-bold">
                        {{ item.creditCard?.alias }}
                    </h3>
                    <p class="font-light bg-gray-100 p2 max-w-12 items-center justify-center flex rounded-md">
                        {{ item.creditCard?.last4 }}
                    </p>
                }
            </td>
            <td class="px-6 py-4">
                <p class="text-lg"> 
                {{ item.incurredAt | date:'longDate' }}
                </p>
            </td>
            <td class="px-6 py-4">
                <p class="text-lg font-bold"> 
                    ${{ item.amount | number:'1.2-2' }}
                </p>
            </td>
            <td class="px-6 py-4 flex gap-x-6 w-28">
                <button (click)="onEditExpense(item)" type="button" class="text-white bg-linear-to-r from-green-400 via-green-500 to-green-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                    </svg>
                </button>
                <button (click)="onDeleteExpense(item)" type="button" class="text-white bg-linear-to-r from-red-400 via-red-500 to-red-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>
                </button>
            </td>
        </tr>
        } @empty {
        <tr class="bg-neutral-primary-soft border-b border-default">
            <td colspan="6" class="px-6 py-8 text-center text-body">
                @if (recetnTrasacntionFilterServices.recentTransactionFilterQuery.isLoading()) {
                    Cargando gastos...
                } @else {
                    No hay gastos para mostrar
                }
            </td>
        </tr>
        }
        </tbody>
    </table>

    <nav class="grid gap-3 p-4 md:flex md:items-center md:justify-between" aria-label="Table navigation">
        <span class="text-sm font-normal text-body">Mostrando <span class="font-semibold text-heading">{{ recetnTrasacntionFilterServices.fromItemComputed() }}-{{ recetnTrasacntionFilterServices.toItemComputed() }}</span> de <span class="font-semibold text-heading">
                {{ recetnTrasacntionFilterServices.totalComputed() }}
            </span>
            <span class="block text-body sm:ms-2 sm:inline">Cargados {{ recetnTrasacntionFilterServices.loadedItemsComputed() }}</span>
        </span>
        <ul class="grid grid-cols-[1fr_auto_1fr] text-sm md:flex md:-space-x-px">
            <li class="min-w-0">
                <button
                type="button"
                (click)="recetnTrasacntionFilterServices.previousPage()"
                [disabled]="!recetnTrasacntionFilterServices.canGoPrevious() || recetnTrasacntionFilterServices.recentTransactionFilterQuery.isFetching()"
                class="flex w-full items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading disabled:opacity-50 disabled:cursor-not-allowed font-medium rounded-s-base text-sm px-3 h-9 focus:outline-none">Anterior</button>
            </li>
            <li>
                <span aria-current="page" class="flex items-center justify-center text-fg-brand bg-brand-softer box-border border border-default-medium font-medium text-sm px-3 h-9 focus:outline-none">
                    Página {{ recetnTrasacntionFilterServices.currentPageComputed() }} de {{ recetnTrasacntionFilterServices.totalPagesComputed() }}
                </span>
            </li>
            <li class="min-w-0">
                <button
                type="button"
                (click)="recetnTrasacntionFilterServices.nextPage()"
                [disabled]="!recetnTrasacntionFilterServices.canGoNext() || recetnTrasacntionFilterServices.recentTransactionFilterQuery.isFetching()"
                class="flex w-full items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading disabled:opacity-50 disabled:cursor-not-allowed font-medium rounded-e-base text-sm px-3 h-9 focus:outline-none">
                    @if (recetnTrasacntionFilterServices.recentTransactionFilterQuery.isFetching()) {
                        Cargando...
                    } @else {
                        Siguiente
                    }
                </button>
            </li>
        </ul>
    </nav>
</div>
