<main class="w-full min-h-screen bg-[#EBF0FF] px-4 pb-28 pt-6 sm:px-8 lg:px-10">

   <div class="mx-auto grid max-w-8xl mt-10 gap-20 mb-20">
      <div class="w-full flex justify-between">
   
         <div>
            <h2 class="text-3xl font-bold">Gastos</h2>
            <p>Gestiona y analiza tus egresos mensuales</p>
         </div>

         <div class="w-60" (click)="showSidebar()">
            <app-common-button
            type="submit"
            text="+ Registrar Gastos"
            loadingText="Cargando..."
            [loading]="false"
            [disabled]="false"/>
         </div>
   
      </div>

      <div class="flex justify-between">

         <div class="grid rounded-2xl bg-linear-to-r from-blue-500 via-blue-600 to-blue-700 w-3xs p-10 gap-y-2 shadow-[#3B69FF] shadow-lg">
            <h2 class="text-white text-3xl">Total Mes</h2>
            <p class="text-white text-2xl"> $ 6,768.69 </p>
         </div>

         <div class="p-8 px-12 rounded-2xl w-4/5 border-2 border-white bg-gray-100 shadow-md sm:p-7">
            <div class="flex justify-between">

               <app-common-select
                  id="category"
                  gap="gap-y-4"
                  title="Categorías"
                  classTitle="text-2xl"
                  placeholder="Selecciona una categoría"
                  [options]="categories"
                  (valueChange)="onCategoryChange($event)">
               </app-common-select>

               <div class="grid gap-y-4">
                  <h3 class="text-2xl"> Rango de fechas </h3>
                  <div id="date-range-picker" date-rangepicker class="flex items-center">
                  <div class="relative">
                     <div class="absolute inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/></svg>
                     </div>
                     <input id="datepicker-range-start" name="start" type="text" class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 shadow-xs placeholder:text-body" placeholder="Fecha inicial">
                  </div>
                  <span class="mx-4 text-body">to</span>
                  <div class="relative">
                     <div class="absolute inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/></svg>
                     </div>
                     <input id="datepicker-range-end" name="end" type="text" class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 shadow-xs placeholder:text-body" placeholder="Fecha final">
                  </div>
                  </div>
               </div>

               <div class="flex justify-center items-center">
                  <app-common-button
                  class="w-52"
                  type="submit"
                  text="Filtrar"
                  loadingText="Cargando..."
                  [loading]="false"
                  [disabled]="false"/>
               </div>

            </div>
         </div>
      </div>
   </div>

   <app-common-table></app-common-table>

<!-- drawer component -->
@if (isExpenseDrawerOpen()) {
<div id="drawer-navigation" class="fixed top-0 left-0 z-40 w-96 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-neutral-primary-soft border-e border-default" tabindex="-1" aria-labelledby="drawer-navigation-label">
  <div class="border-b border-default pb-4 flex items-center">
      <p class="text-2xl font-bold"> Guardar gasto </p>
      <button (click)="closeSidebar()" type="button" aria-controls="drawer-navigation" class="text-body bg-transparent hover:text-heading hover:bg-neutral-tertiary rounded-base w-9 h-9 absolute top-2.5 inset-e-2.5 flex items-center justify-center">
         <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
         <span class="sr-only">Close menu</span>
      </button>
   </div>
  <form class="py-5 overflow-y-auto flex flex-col gap-y-6" [formRoot]="expensesService.expenseForm">
      <app-common-input 
      [id]="'title'"
      [type]="'text'"
      [label]="'Titulo'" 
      [formField]="expensesService.expenseForm.title"
      [placeholder]="'Titulo'"/>

      @if ( expensesService.expenseForm.title().touched() && expensesService.expenseForm.title().invalid() ) {
         @for (error of expensesService.expenseForm.title().errors(); track error) {
            <p class="text-sm text-fg-danger-strong"> {{ error.message }} </p>
         }
      }

      <app-common-input 
      [id]="'description'"
      [type]="'text'"
      [label]="'Descripción'" 
      [formField]="expensesService.expenseForm.description"
      [placeholder]="'Descripción (opcional)'"/>

      <app-common-select
      id="categoryInput"
      gap="gap-y-0"
      classTitle="block mb-2 text-sm font-medium text-gray-900"
      title="Categorías"
      placeholder="Selecciona una categoría"
      [options]="categories"
      (valueChange)="onCategoryChangeInput($event)" />

      @if ( expensesService.expenseForm.category().touched() && expensesService.expenseForm.category().invalid() ) {
         @for (error of expensesService.expenseForm.category().errors(); track error) {
            <p class="text-sm text-fg-danger-strong"> {{ error.message }} </p>
         }
      }

      <div class="relative max-w-sm grid gap-y-2">
         <div class="absolute inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/></svg>
         </div>
         <label for="default-datepicker"> Fecha </label>
         <input datepicker id="default-datepicker" type="text" (input)="onDateChange($event)" (change)="onDateChange($event)" class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 shadow-xs placeholder:text-body" placeholder="Selecciona una fecha">
      </div>

      @if ( expensesService.expenseForm.date().touched() && expensesService.expenseForm.date().invalid() ) {
         @for (error of expensesService.expenseForm.date().errors(); track error) {
            <p class="text-sm text-fg-danger-strong"> {{ error.message }} </p>
         }
      }
      
      <app-common-input 
      [id]="'amount'"
      [type]="'number'"
      [label]="'Monto'" 
      [formField]="expensesService.expenseForm.amount"
      [placeholder]="'Monto'"/>

      @if ( expensesService.expenseForm.amount().touched() && expensesService.expenseForm.amount().invalid() ) {
         @for (error of expensesService.expenseForm.amount().errors(); track error) {
            <p class="text-sm text-fg-danger-strong"> {{ error.message }} </p>
         }
      }

      <app-common-select
      id="cardInput"
      gap="gap-y-0"
      classTitle="block mb-2 text-sm font-medium text-gray-900"
      title="Forma de pago"
      placeholder="Selecciona una forma de pago"
      [options]="cardOptions()"
      [disabled]="cardsServices.accountsQuery.isLoading()"
      (valueChange)="onCardChange($event)" />

      <app-common-button
      type="submit"
      text="Guardar gasto"
      loadingText="Guardando..."
      [loading]="expensesService.createExpenseMutation.isPending()"
      [disabled]="!expensesService.expenseForm().valid()"/>
   </form>
</div>
}

</main>
